name: C Test CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-latest]
        include:
          - {sys: clang64, env: clang-x86_64}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Install mold on ubuntu systems
        if: matrix.os == 'ubuntu-24.04'
        uses: rui314/setup-mold@2e332a0b602c2fc65d2d3995941b1b29a5f554a0 # v1
      - name: Install msys-clang on windows systems.
        if: matrix.os == 'windows-latest'
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.sys }}
          install: |
            libbsd
            mingw-w64-${{matrix.env}}-just
            mingw-w64-${{matrix.env}}-clang
      - name: Install just on ubuntu
        if: matrix.os == 'ubuntu-24.04'
        uses: extractions/setup-just@dd310ad5a97d8e7b41793f8ef055398d51ad4de6 # v2
      - name: Test build on windows
        if: matrix.os == 'windows-latest'
        shell: msys2 {0}
        run: just build
      - name: Test build on ubuntu
        if: matrix.os == 'ubuntu-24.04'
        shell: bash
        run: just build
      - name: Run unit-tests on windows
        if: matrix.os == 'windows-latest'
        shell: msys2 {0}
        run: just test
      - name: Run unit-tests on ubuntu
        if: matrix.os == 'ubuntu-24.04'
        shell: bash
        run: just test
